{% extends "base.html" %}
{% block title %}Shiny Spoon - Home{% endblock %}

{% block content %}

    <div class="mx-4 bg-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 align-self-start bg-danger">
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                   <p>sdsdfsdfds</p> One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                    One of three columns
                </div>
                <div class="position-sticky top-0 col-4 align-self-start bg-warning">
                    One of three columns
                </div>
            </div>
        </div>
    </div>

{% endblock %}