{% extends "base.html" %}
{% block title %}Shiny Spoon - Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-8 align-self-start">
                <div class="d-flex pb-3 justify-content-between align-items-center border-bottom border-secondary">
                    <small class="text-muted">Today, Melbourne is <span
                            class="text-lowercase">{{ weather_condition }}</span></small>
                    <a href="{{ url_for('views.create_post') }}" class="btn btn-sm btn-primary">Create a Post</a>
                </div>

                <div class="container-fluid d-flex py-5 flex-column">

                    {% if not posts %}
                        <div class="text-muted text-center"><h3 class="display-3">Hmm, seems quite here...</h3></div>
                    {% else %}
                        {% for post in posts %}

                            {# Posts #}
                            <div class="card text-bg-dark mb-4 border-secondary">
                                <div class="card-body py-sm-4 d-flex flex-column gap-4">
                                    <div class="container-fluid d-flex flex-row gap-3 justify-content-center align-items-center align-content-center">
                                        <img src="{{ url_for('static', filename='img/user/default-user-profile-img-white.png') }}"
                                             width="60" height="60" alt="User Profile Image"/>
                                        <div class="container-fluid d-flex flex-column justify-content-between">
                                            <h5>{{ user['username'] }}</h5>
                                            <small class="text-muted">{{ post['date_time_utc'] }}</small>
                                        </div>
                                    </div>
                                    <div class="container-fluid d-flex flex-column gap-3">
                                        <p class="card-text">{{ post['description'] }}</p>
                                        {% if post['img_key'] %}
                                            <img class="align-self-center w-100 rounded"
                                                 src="{{ get_pre_signed_url_post_img(post['img_key']) }}"
                                                 alt="Post Image"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}

                </div>
            </div>

            <div class="position-sticky top-0 py-5 col-4 align-self-start">
                <div class="container d-flex py-5 gap-4 flex-column">
                    <div class="d-flex flex-column gap-3 justify-content-center align-items-center text-center">
                        <img class="rounded-circle"
                             src="{{ get_pre_signed_url_profile_img(user['img_key']) }}"
                             alt="User Profile Image" width="120" height="120">
                        <h3 class="text-capitalize"><small class="text-muted">You are</small> {{ user['username'] }}
                        </h3>
                    </div>
                    <div class="d-flex flex-column gap-3 justify-content-center align-items-center text-center">
                        <small class="text-muted text-">Proceed with caution :d</small>
                        <div class="d-flex gap-2">
                            <button type="button" class="btn btn-sm btn-warning">Update Account</button>
                            <button type="button" class="btn btn-sm btn-danger">Delete Account</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}